.navbar {
    padding: 10px 20px;
    font-family: 'Source Code Pro', monospace;

    
    i {
        padding: 10px;
    }

    .navbar-brand {
        font-weight: 500;
        color: white;
    }

    .nav-link {
        color: white;
    }
}