.navbar {
    padding: 10px 20px;
    i {
        padding: 10px;
    }

    .navbar-brand {
        font-weight: 500;
    }

    .nav-link {
        margin: 10px;
    }

    .nav-link:hover {
        transform: scale(1.1);
    }
}
@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
      
    .navbar .navbar-collapse {
        text-align: center;
    }
}

